after-cell{
  clear: left;
}
.before-screen{
  
}
.game-screen{}

.center{
  float:none;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.cell {
  cursor:pointer;
  float:left;
  margin: 10px;  
  padding: 40px;
  width: 10px;
  height: 10px;
  border: 0;
  background:
    lightgray; 
  border-radius: 25px;
}
.cell:hover {
  box-shadow: 10px 10px 5px #888888;
}
.cell:focus {
  outline:0;
}
.game-container {
  width: 300px;
  background: blue;
 
}  

.red{
  background:red;
}
